body {
  font-size: 20px;
}

.container {
  display: block;
  width: 16em;
  margin:auto;
}

.text-center {
  text-align: center;
}

.item {
  display: inline-block;
  width: 5em;
  text-align: center;
}

button {
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#msg {
  margin-top: 1em;
}
